/* Подписка */


.signup__footer {

    @media screen and (max-width: 1199px) {
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.signup__title {
    display: block;
    @include fonts(700, 14px, 1.14);
    text-transform: uppercase;
    color: var(--primery-white-color);
    margin-bottom: 20px;
}

.signup__input {
    display: block;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;


    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: var(--primery-white-color);
    background-color: transparent;

    &::placeholder {
        @include fonts(400, 16px, 1.25);
        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (max-width: 1199px) {
        width: 450px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 12px;
        display: inline-block;
    }
}

.signup__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.signup__icon {
    width: 24px;
    height: 24px;
    fill: var(--primery-white-color);
    margin-left: 10px;
}