

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--primery-white-color);
    color: var(--primery-text-color);
    font-family: var(--main-font);
    letter-spacing: 0.03em;

        &.no-scroll {
                overflow: hidden;
            }
}


