:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color: #ffffff;
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;


     /* others */
    --items: 3;
    --indent: 30px;
}